body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    position: relative;
    
    
  }

  @media (max-width:767px) {
    .desktop {
      display: none;
    }
    .tablet{
      display: none;
    }
    .movil{
      display: none;
    }
  }
  @media (min-width:768px) and (max-width:990){

    .desktop {
      display: none;
    }
    .tablet{
      display: none;
    }
    .movil{
      display: none;
    }


  }

  @media (main-width:991px){

    .desktop {
      display: none;
    }
    .tablet{
      display: none;
    }
    .movil {
      display: none;
    }
  }



  html {
    scroll-behavior: smooth;
  }
  header {
    margin-bottom: 100px;
    width: 100%;    
    position: fixed;
    background-color:#99CC66 ;
    color: white;
    text-align: center;
    padding: 1em;
  }

.cocinero{

  width: 40px;

}
  nav {
    position: fixed;
    margin-top: 90px;
    background-color:#FFCC66;
    width: 100%;
    padding: 1em;
    text-align: center;
    
    
  }

  nav a {
    
    color: white;
      text-decoration: none;
      padding: 0.5em 1em;
      margin: 0 1em;
            
    
  }
  nav  :hover{
    background-color: #FF9966;
    padding: 17px;
    padding-left:30px;
    color: white;
    transition:0.6s;
    font-weight: bold;

  }
  nav a :hover{

    background-color: #FF9966;
    transition: 0.3s;

  }
  section {
    padding: 20px;
    padding-bottom: 20px;
  }

  .receta {
    border: 1px solid #F3dbc3;;
    padding: 20px;
    margin-bottom: 20px;
    background-color:#f3dbc3;;
    padding-left: 30%;
    
  } 
 
  

  .receta img {
    max-width: 70%;
    height: 300px;
    margin-bottom: 10px;
  }

  .receta p{

    font-weight:bold;
  }

 
  footer {
    background-color: #004173; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 20px 0; /* Espaciado interno superior e inferior */
    text-align: center; /* Centrar el texto */
    margin: 0%; 
    position: absolute;
    width: 100%; /* Ancho completo */
    bottom: 0; /* Alinear al fondo de la ventana */
}


footer p {
    margin: 0; /* Eliminar márgenes internos */
}

.contact-link {
  color: #fff; /* Color del enlace */
  text-decoration: none; /* Eliminar subrayado del enlace */
  font-weight: bold; /* Texto en negrita */
}


/*medidas para celulares */

@media screen and (max-width: 768px) {
  header {
      margin-bottom: 50px;
  }
  
  nav {
      margin-top: 68px;
  }
  
  .receta {
      padding-left: 10%;
  }
  
  .receta img {
      max-width: 100%;
      height: auto;
  }
  
  /* Estilos para dispositivos móviles */
  pre {
      overflow-x: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
  }

  nav a {
    font-size: 8px; /* Reducimos el tamaño del texto */
}
}

  footer {
      padding: 15px 0;
  }
